.nav-bar {
  background-color: rgba(172, 172, 172, 0.1);
  position: fixed;
  padding-left: 50%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 64px;
  width: 100%;
}

.nav-bar-mobile {
  background-color: rgba(172, 172, 172, 0.9);
  width: 100vw;
  height: 64px;
  display: block;
}

.nav-bar-item {
  color: black;
}

.side-nav-menu {
  background-color: black; 
  height: 900px; 
  width: 0%;
  position: fixed;
  top: 64px;
  left: 50%;
  z-index: 1;
}