<div class="component-content">
  <h1>Lazzaro Zheng</h1>
  <p>Passion, Friendly, Efficient!</p>
  <p>9-10 year working experience on mobile, web full-stack development. 9-10 year working experience on mobile, web full-stack development.9-10 year working experience on mobile, web full-stack development.</p>
  <div>
    <button mat-stroked-button routerLink="/timeline" class="action-btn">More Detail</button>
    <button mat-stroked-button routerLink="/contactme" class="action-btn">Contact</button>
  </div>
</div>