/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~angular-mgl-timeline/theme';

@include mat-core();

$lance-app-primary: mat-palette($mat-grey);
$lance-app-accent:  mat-palette($mat-grey, 200, 100, 400);

// The warn palette is optional (defaults to red).
$lance-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$lance-app-theme: mat-light-theme($lance-app-primary, $lance-app-accent, $lance-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lance-app-theme);
@include mgl-timeline-theme($lance-app-theme);
